.Heritier{
    display: flex;
    justify-content: space-between;
    }

.Intelligent{
    display: flex;
    justify-content: center;
}
.nyanza{
    display: flex;
    justify-content: center; 
}
.nyanza{
    
}